{% load static %}
<html>
    <head>
        <title>Messages</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="header">
            <h1 id="app-title"><a class="button app-title-button" href="{% url 'home' %}">Messages</a></h1>
            {% if user.is_authenticated %}
                <a class="button primary-button" href="{% url 'home' %}">My account</a>
                <a class="button secondary-button" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>
